$backgroundcolor: rgb(165, 162, 162);
$hover: rgb(228, 228, 228);
$boxshadow: #0000007c;

.navbar {
    display: flex;
    // width: 95vw;
    height: 10vh;
    border: solid lightgrey 1px;
    align-items: center;
    background-color: $backgroundcolor;

    .crudnavdiv {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 60vw;
    }

    .orderdiv {
        display: flex;
        width: 8rem;
        align-self: flex-end;
        justify-content: end;
        padding-bottom: 0.5rem;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1.5rem;
        align-items: center;
    }

    .nav-link {
        font-size: .7rem;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
    }

    :hover {
        color: $hover
    }
}

.footer {
    align-items: center;
    // width: 95vw;
    height: 8vh;
    background-color: $backgroundcolor;

    .footerlist {
        padding-top: 1rem;
        display: flex;
        list-style: none;
        justify-content: space-evenly;
    }
}
