body {
    height: 90vh;
}
.container {
    height: auto;
}
.loaderdivraise {
    height: 50vh;
}
.homepagedivimg{
    height: 50vh;
}
.orderList {
    display: flex;
    flex-direction: column;
    align-items: center;
}