.text-center {
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logincenter {
    display: flex;
    justify-content: center;
}
.addProductform {
    width: 30rem;
    border-radius: 1rem;
    margin: 3rem 0rem 6rem 0rem;
    padding: 2rem;
    box-shadow: .05rem .05rem .5rem #0000007c;
}

.input-group {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.form-control {
    width: 20rem;
    padding: .2rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.form-label-register {
    width: 20rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

.addProductFormBtn {
    margin: 2rem 0rem 1rem 0rem;
}
.centerp{ 
    width: 20rem;
}
.linkstylelogin {
    text-decoration: underline;
    color: rgb(84, 138, 2);
}

