.text-center {
    text-align: center;
}

.editcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editProductform {
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin: 3rem 0rem 6rem 0rem;
    padding: 1rem;
    box-shadow: .05rem .05rem .5rem #0000007c;
}

.input-group {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.form-control {
    width: 20rem;
    padding: .2rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.form-label {
    font-weight: bold;
    width: 8rem;
}

.addProductFormBtn {
    margin: 2rem 0rem 1rem 0rem;
    cursor: pointer;
    width: 10rem;
    height: 2rem;
}

