.productGridTitleContainer {
    height: 4rem;
    display: flex;
    // justify-content: flex-end;
    // flex-direction: row-reverse;

}
.editanddeletediv {
    display: flex;
    height: 4rem;
    width: 4rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    :hover {
        color: white;
        cursor: pointer;
    }
}
.test {
    display: flex;
}

.productGridImage {
    width: 270px;
    height: 295px;
    object-fit: cover;
}

h2 {
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    :hover {
        background-color: rgb(78, 78, 78);
        color: white;
    //    padding: 0 0.1rem 0 0.1rem;
    //    scale: 104.3%;
    }
}
.productstylebox {
    border: solid 1px black;
}
.titelcontainerstyle {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    gap: 1rem;
    width: 35rem;
}
.deletestyle {
    height: 2rem;
    width: 2rem;
}
.editstyle {
    height: 2rem;
    width: 2rem;
}